body{
  /* 00c6ff or cffffc*/
  margin: 0;
  background-image: url(img/b3.png); //#00c6ff
  background-repeat: repeat;
  background-size: 75px 75px;
}

.navbar {
  overflow: hidden;
  background-color: #555555;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 50px;
}

.navbar a.link {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.link:hover {
  background: rgb(0, 198, 255); //#ddd;
  color: black;
}

.navbar img{
  height: 50px;
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.cakeofweek {
  width: 70%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.cakeofweek img {
  height: 300px;
  width: 500px;
}
.cakes {

  float: left;
  width: 45%;
  padding-left: 45px;
  text-align: center;

}
.cakes img{
  width: 400px;
  height: 500px;
}



#container{
  margin:0;

}
#orderB{
  background-color: #00c6ff;
  font-size: 17px;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid #00c6ff;
  border-radius: 9px;
  color: white;
}
#clear {
  clear: both;
}



#content {
  padding-top: 7px;
  width:80%;
  margin: auto;
  color: white;
  background-color: #555555;
  margin-top: 0;
  padding-left: 19px;
  padding-right: 19px;
  margin-top: 50px;
  overflow: hidden;
}
h1.content {
  border-top: 1px solid #00c6ff;
  border-bottom: 1px solid #00c6ff;
  //background-color: rgb(0, 198, 255);
  //text-align: center;

}
/*             Select Box      */
body select {
display: inline-block;
padding: 10px 70px 10px 13px !important;
max-width: 100%;
height: auto !important;
border: 1px solid #e3e3e3;
border-radius: 3px;
background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat;
background-color: #fff;
color: #444444;
font-size: 12px;
line-height: 16px !important;
appearance: none;
/* this is must */ -webkit-appearance: none;
-moz-appearance: none;
}
/* body select.select_box option */
body select option {
padding: 0 4px;
}
/* for IE and Edge */
select::-ms-expand {
display: none;
}
select:disabled::-ms-expand {
background: #f60;
}

/*             END Select Box      */
#cake {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px ridge #00c6ff;
  border-radius: 8px;
 }
ol#liofCakes li {
  display: inline;
}
ol#liofCakes img {
  height: 157px;
  width: 237px;
}
.layersofc{
  width: 33%;
  float: left;
  text-align: center;
}

.layersofc img {
  height: 157px;
  width: 237px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.filler{
  height: 75vh;
}
.makecake{
  width: 33%;
  float: left;
  text-align: center;
}
.makecake img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*                  Scroll Bar
/* width
::-webkit-scrollbar {
 width: 8px;
}

/* Track
::-webkit-scrollbar-track {
 background: rgb(0, 198, 255);
}

/* Handle
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
     end of scroll bar     */
     /* Order Button */
     #btn {
       background: #222;
       height: 50px;
       width: 150px;
       border: none;
       border-radius: 10px;
       color: #eee;
       font-size: 40px;
       font-family: 'Cookie', cursive;
       position: relative;
       transition: 1s;
       -webkit-tap-highlight-color: transparent;
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
       padding-top: 5px;
       margin-left: auto;
       margin-right: auto;
       padding-right: 3px;
       padding-left: 3px;:
     }

     #btn #circle {
       width: 5px;
       height: 5px;
       background: transparent;
       border-radius: 50%;
       position: absolute;
       top: 0;
       left: 50%;
       overflow: hidden;
       transition: 500ms;
     }

     .noselect {
       -webkit-touch-callout: none;
         -webkit-user-select: none;
          -khtml-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
                 user-select: none;
     }

     #btn:hover {
       background: transparent;
       background-color: #00c6ff;
     }

     #btn:hover #circle {
       height: 50px;
       width: 150px;
       left: 0;
       border-radius: 0;
       border-bottom: 2px solid #eee;
     } /* End of button */
     a{
       color: inherit;
       background-color: inherit;
     }
